Repository zeptonow/input-typeahead: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "tsc-files --noEmit"],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

chore: add pnpm-lock.yaml with updated dependencies and lockfile version 9.0
  pnpm-lock.yaml
Due: none

chore: add pnpm-lock.yaml to manage dependencies and lock versions
  pnpm-lock.yaml
Due: none

fix(Typeahead): ensure input focus after reset and selection
  src/package/components/Typeahead.tsx
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

chore: update release configuration and change package privacy status
  .releaserc.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8423fe5294dccb80aa54dd67761560040ea9a1ae
Due: none

Notes added by 'git notes add'
  8d08d3f4c480b2a206e2735c8ca224e64546c1bd
Due: none

Notes added by 'git notes add'
  e85b588e15e0a728d554e5188e553bb42043a4c5
Due: none

Notes added by 'git notes add'
  e1332218c52138d851222c3d14a3de0f9a720076
Due: none

chore: remove .release.config.js and update release configuration in .releaserc.json
  .github/workflows/release.yml
  .release.config.js
  .releaserc.json
  CHANGELOG.md
  package.json
  src/package/components/Typeahead.tsx
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

Rohit/fix input focus and semantic release flow (#6)
  .github/workflows/release.yml
  .release.config.js
  .releaserc.json
  CHANGELOG.md
  package.json
  src/package/components/Typeahead.tsx
Due: eslint --max-warnings=0, tsc-files --noEmit, prettier --write

Notes added by 'git notes add'
  241715c7a03c2c61a6a74034d8b64b155bd7ac02
Due: none

updating GH_TOKEN_PUBLISH
  .github/workflows/release.yml
Due: none

Removing persist-credentials
  .github/workflows/release.yml
Due: none

Update .releaserc.json
  .releaserc.json
Due: prettier --write

Runs on private arc-runner-set
  .github/workflows/release.yml
Due: none

Updating arc-runner set
  .github/workflows/release.yml
Due: none

github app auth
  .github/workflows/release.yml
Due: none

Github app token
  .github/workflows/release.yml
Due: none

updating token
  .github/workflows/release.yml
Due: none

Updating official token generater
  .github/workflows/release.yml
Due: none

Delete .github/workflows/sca.yml
  .github/workflows/sca.yml
Due: none

Delete .github/workflows/secret-scanning.yml
  .github/workflows/secret-scanning.yml
Due: none

Delete .github/workflows/sonar-workflow.yml
  .github/workflows/sonar-workflow.yml
Due: none

Add .cursor configuration
  .cursor/mcp.json
  .cursor/rules/rules.mdc
  .cursorignore
Due: prettier --write
